body{ background:#333;}
.a
{float:left; width:1340px; border:2px solid #000;}
.b
{float:left; height:80px; width:1000px; margin-left:170px;}
.c
{float:left; font-size:50px; color:#804040; margin-left:350px; margin-top:20px; text-shadow:5px 5px 5px #FFFFFF;}
.d
{float:left; height:50px; width:1000px; margin-left:170px; margin-top:20px;}
.e
{float:left; height:50px; width:1000px; background:#191919; border-top-left-radius:20px; border-bottom-right-radius:20px;}
.f
{float:left; color:#FFF; font-size:20px; text-decoration:none; margin-left:25px;}
.g
{width:1000px; color:#999; margin-top:20px; float:left; margin-left:170px;}
.h
{float:left; height:360px; width:1000px; margin-left:170px; margin-top:20px;}
.i{float:left; font-size:28px; color:#C0C0C0; margin-top:30px; margin-left:40px;}
.j{width:1000px; color:#999; margin-top:10px; float:left; margin-left:0px;}
.k{float:left; margin-top:30px; margin-left:30px; font-size:20px; color:#FFF;}
.l{float:left; margin-top:10px; margin-left:30px; font-size:20px; color:#FFF;}
.m{float:left; height:500px; width:1000px; margin-left:170px; margin-top:20px;}
.n{float:left; height:500px; width:400px;}
.o{float:left; height:500px; width:400px; border-radius:15px;}
.p{float:left; height:500px; width:600px;}
.q{float:left; height:250px; width:300px;}
.q1{float:left; font-size:22px; margin-left:20px; color:#C0C0C0;}
.q2{float:left; font-size:18px; margin-top:5px; margin-left:20px; color:#FFF; font-family:Georgia;}
.r{float:left; height:250px; width:300px;}
.s{float:left; height:250px; width:300px;}
.t{float:left; height:250px; width:300px;}
.u{float:left; height:50px; width:1000px; margin-left:170px; margin-top:20px;}
.v{float:left; font-size:16px; color:#000; margin-left:320px; margin-top:5px;}
.w{float:left; text-decoration:none; color:#000; margin-left:150px; margin-top:-18px;}

