body{ background:#333;}
.a
{float:left; width:1340px; border:2px solid #000;}
.b
{float:left; height:80px; width:1000px; margin-left:170px;}
.c
{float:left; font-size:50px; color:#804040; margin-left:350px; margin-top:20px; text-shadow:5px 5px 5px #FFFFFF;}
.d
{float:left; height:50px; width:1000px; margin-left:170px; margin-top:20px;}
.e
{float:left; height:50px; width:1000px; background:#191919; border-top-left-radius:20px; border-bottom-right-radius:20px;}
.f
{float:left; color:#FFF; font-size:20px; text-decoration:none; margin-left:25px;}
.g
{width:1000px; color:#999; margin-top:20px; float:left; margin-left:170px;}
.h
{float:left; height:400px; width:1000px; margin-top:20px; margin-left:170px;}
.i
{float:left; height:400px; width:1000px; border-radius:20px;}
.main{float:left; height:1000px; width:1000px; margin-left:170px; margin-top:20px;}
.l1{float:left; margin-left:330px; margin-top:40px; color:#FFF; text-decoration:blink;}
.l2{float:left; margin-top:40px; margin-left:250px; width:600px; height:800px; color:#FFF; font-size:20px;}
.l3{float:left; width:210px; height:25px;}
.l4{float:left; width:120px; height:40px; margin-left:100px; border-radius:5px;}
.l5{float:left; width:120px; height:40px; margin-left:55px; border-radius:5px;}
.l6{float:left; width:216px; height:30px;} 
.da{float:left; width:71px; height:25px;}
.p{float:left; height:150px; width:1000px; margin-left:170px; margin-top:20px;}
.q{float:left; height:150px; width:1000px; }
.r{ float:left; height:150px; width:185px; border-radius:10px; margin-left:10px;}
.s{float:left; height:50px; width:1000px; margin-left:170px; margin-top:20px;}
.t{float:left; font-size:16px; color:#000; margin-left:320px; margin-top:5px;}
.u{float:left; text-decoration:none; color:#000; margin-left:150px; margin-top:-18px;}
